*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
}
.container{
    background-color:#fff;
    border-radius:1rem;
    border:1px solid black;
    padding:2rem;
    min-height:60vh;
    width:60vh;
}
.header{
    display:flex;
    justify-content: space-between;
    padding:10px 2px 10px 2px;
}
.mode-available{
    display:flex;
    justify-content:space-evenly;
    font-size:16px;
}
.available{
    width:100px;
}
.upcoming{
    font-size: 25px;
}
.mode{
    border-left: 3px solid palevioletred;;
    padding:2px;
}


.date{
    display:flex;
    justify-content: space-between;
    padding:10px 2px 10px 2px;
}

.arrow{
    color:palevioletred;;
}


.first{
    display:flex;
    justify-content:space-between;
    padding:10px 2px 10px 2px;
}
.data{
    font-size:18px;
}
ul{
    list-style-position:inside;
    font-size:16px;
}
li::marker{
    color:green;
    font-size: 1.5rem;
}

.attending{
    display:flex;
    justify-content: space-between;
    padding:10px 2px 10px 2px;
}
button{
   text-align:center;
   border:1px solid blue;
   padding:5px 15px;
   color:blue;
}
#button1{
    background-color: blue;
    color:white;
}

.morning{
    border-left:7px solid blue;
    background-color:lightblue;
    margin-bottom:10px;
    padding:5px;
    border-radius:0.5px;
}

.evening{
    border-left:7px solid seagreen;
    background-color:lightblue;
    padding:5px;
}

#button2{
    background-color:seagreen;
    color:white;
} 
.eveningbutton{
    text-align:center;
   border:1px solid seagreen;
   padding:5px 15px;
   color:seagreen;
}

#footer{
    color:palevioletred;
    text-decoration: underline;
    float:right;
    padding:10px 2px 10px 2px;
}


